<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>
<div class="container">
    {% include 'header.html' %}
    <p>Этот прекрасный сайт сделан для не менее прекрасного человека основным фулстек программистом международного
        сотрудничества.</p>
    <p>Артур, поздравляю тебя с днём рождения, желаю тебе счастья, здоровья и побольше практики в программировании😄</p>
    <p>P.S. Когда у тебя будет крупнейшая IT компания в Европе, возьмёшь стажёром?</p>
</div>

</body>
</html>