<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Arturio Shiro - Login</title>
        <link rel="stylesheet" href="/static/form.css">
    </head>
    <body>
        <div class="form_outer">
            <h2 class="label">Login</h2>
            <form action="/login" method="post" class="form">
                <input type="text" name="name" placeholder="Enter name..." class="text_input">
                <input type="password" name="password" placeholder="Enter password..." class="text_input">
                <input type="submit" class="submit">
            </form>
            <a href="/register">register</a>
        </div>
    </body>
</html>