<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Arturio Shiro - register</title>
    <link rel="stylesheet" href="/static/form.css">
</head>
<body>
    <div class="form_outer">
        <h2 class="label">Register</h2>
        <form action="/register" method="post" class="form">
            <input type="text" name="name" placeholder="Enter name..." class="text_input">
            <input type="password" name="password" placeholder="Enter password..." class="text_input">
            <input type="submit" class="submit">
        </form>
        <a href="/login">login</a>
    </div>
</body>
</html>